{% extends 'parent/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="user-page">
        <div class="profile-header">
            <div class="avatar">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="User Avatar">
                {% else %}
                    <img src="{% static 'images/default-profile.jpg' %}" alt="User Avatar">
                {% endif %}
            </div>
            <div class="user-info">
                <h2>{{ user.username }}</h2>


                <div class="stats">
                    <span><strong>{{ user.posts.count }}</strong> posts</span>
                    <span><strong id="followers-count">{{ user.get_followers|length }}</strong> <a
                            href="{% url 'account:user_contact' username=user.username relation='followers' %}">followers</a></span>
                    <span><strong id="following-count">{{ user.get_followings|length }}</strong>
                        <a href="{% url 'account:user_contact' username=user.username relation='following' %}">following</a>
                    </span>

                </div>


                <div class="user-actions">


                    <button data-csrf-token="{{ csrf_token }}" id="follow-and-unfollow-{{ user.id }}"
                            value="{{ user.id }}"
                            class="follow-btn">
                        {% if request.user in user.followers.all %}
                            Un Follow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>


                    <button class="message-btn">Message</button>

                </div>
            </div>
        </div>
        <div>
            <span>{{ user.get_full_name|default:'' }}</span>
            <pre>{{ user.job|default:'' }}</pre>
            <p>{{ user.bio|default:'' }}</p>
            <hr>
            <br>
        </div>
        <div class="user-posts">
            {% for post in user.posts.all %}
                <div class="user-post">
                    <img src="{{ post.images.first.file.url }}" alt="" onclick="showPostDetail('{{ post.id }}')">
                </div>
            {% endfor %}
        </div>

    </div>




    <div id="postModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="modal-body">
                <!-- Post details will be loaded here -->
            </div>
        </div>
    </div>
{% endblock %}