
  <div class="comment">
      {% for comment in comments %}
          <p><strong>{{ comment.author }}:</strong>  {{ comment.text }}</p>
          <button class="btn-reply" onclick="addParentId('{{ comment.id }}')">Reply</button>

          {% for sub_comment in comment.sub_comments.all %}
              <div class="sub-comments">
                  <span>reply to {{ sub_comment.parent.author }}</span>
                  <p><strong>{{ sub_comment.author }}:</strong>{{ sub_comment.text }}</p>
              </div>
          {% endfor %}
          <hr>
      {% endfor %}
  </div>

