{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

    <div class="stories-container">
        <div class="story-item">
            <a href="#">
                {% if current_user_stories %}
                    <div class="profile-circle" onclick="showStoryDetail({{ user.id }})">
                        <img src="{{ user.avatar.url }}" alt="Profile Picture" class="profile-pic">
                    </div>
                    </a>
                {% else %}
                    <a href="{% url 'post:create_story' %}">
                        <div class="active-user">
                            <img src="{{ user.avatar.url }}" alt="Profile Picture" class="profile-pic">
                            <i class="fa fa-plus-circle"></i>
                        </div>
                    </a>
                {% endif %}

        </div>
        {% if story_users %}

            {% for user in story_users %}
                <div class="story-item">
                    <a href="#">
                        <div class="profile-circle" onclick="showStoryDetail({{ user.id }})">
                            <img src="{{ user.avatar.url }}" alt="Profile Picture"
                                 class="profile-pic">
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>




    <hr>
    <h2 class="title">Following Post</h2>
    <div class="post-container">
        {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    <img src="{{ post.author.avatar.url }}" alt="avatar" class="avatar">
                    <p><a href="{% url 'post:user_page' username=post.author.username %}">{{ post.author.username }}</a>
                    </p>
                </div>
                <div class="post-images">
                    {% if post.images.count > 1 %}
                        <div class="slider">
                            {% for image in post.images.all %}
                                <img src="{{ image.file.url }}" alt="Post Image">
                            {% endfor %}
                        </div>
                    {% else %}
                        <img src="{{ post.images.first.file.url }}" alt="Post Image">
                    {% endif %}
                </div>
                <div class="post-body">
                    <p>{{ post.author.username }}: {{ post.description }}</p>
                    <div class="post-action">
                        <p class="like-post" data-post-id="{{ post.id }}" data-csrf-token="{{ csrf_token }}">
                            <i class=" {% if request.user in post.likes.all %} fa-solid{% else %} fa-regular {% endif %} fa-heart"></i>
                            <span class="like-count">{{ post.likes.count }}</span> Likes
                        </p>
                        <p class="save-post" data-post-id="{{ post.id }}" data-csrf-token="{{ csrf_token }}">

                            <i class="{% if request.user in post.save_by.all %}fas fa-bookmark{% else %}far fa-bookmark{% endif %}"></i>

                        </p>
                    </div>
                    <p>Tags:
                        {% for tag in post.tags.all %}
                            #{{ tag.name }}
                        {% endfor %}
                    </p>

                </div>
                {% include 'partials/comment_section.html' with comments=post.this_comments %}
            </div>

            <hr>
        {% endfor %}
    </div>


    {#    <div id="postModal" class="modal">#}
    {#        <div class="modal-content">#}
    {#            <span class="close" onclick="closeModal()">&times;</span>#}
    {#            <div id="modal-body">#}
    {#                <!-- Story details will be loaded here -->#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div id="storyModal">
        <div id="modal-content-story">


        </div>
    </div>

{% endblock %}