{% extends 'parent/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <hr>
    <h2 class="title">Following Post</h2>
<div class="post-container">
    {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <img src="{{ post.author.avatar.url }}" alt="avatar" class="avatar">
                <p>{{ post.author.username }}</p>
            </div>
            <div class="post-images">
                {% if post.images.count > 1 %}
                    <div class="slider">
                        {% for image in post.images.all %}
                            <img src="{{ image.file.url }}" alt="Post Image">
                        {% endfor %}
                    </div>
                {% else %}
                    <img src="{{ post.images.first.file.url }}" alt="Post Image">
                {% endif %}
            </div>
            <div class="post-body">
                <p>{{ post.author.username }}: {{ post.description }}</p>
                <p class="like-post" data-post-id="{{ post.id }}" data-csrf-token="{{ csrf_token }}">
                    <i class=" {% if request.user in post.likes.all %} fa-solid{% else %} fa-regular {% endif %} fa-heart"></i>
                    <span class="like-count">{{ post.likes.count }}</span> Likes
                </p>
              <span class="save-post" data-post-id="{{ post.id }}" data-csrf-token="{{ csrf_token }}">

                    <i class="fa {% if request.user in post.save_by.all %}fa-calendar-week{% else %}fa-calendar-plus{% endif %}"></i>

                </span>
                <p>Tags:
                    {% for tag in post.tags.all %}
                        #{{ tag.name }}
                    {% endfor %}
                </p>

            </div>
        </div>
        <hr>
    {% endfor %}
</div>

{% endblock %}