<div class="stories-container-detail">

    <div class="post-header">
            <img src="{{ user.avatar.url }}" alt="avatar" class="avatar">
            <a href="{% url 'post:user_page' username=user.username %}"><p>{{ user.username }}</p></a>
        <span id="story-created-date"></span>
    </div>



    <div class="story-item-detail">

        {% for story in stories %}
            {% if story.is_video %}
                <video class="item" src="{{ story.file.url }}" controls data-story-id="{{ story.id }}"></video>
            {% elif story.is_image %}
                <img class="item" src="{{ story.file.url }}" alt="Story Image" data-story-id="{{ story.id }}">
            {% endif %}
        {% endfor %}
    </div>

    <button class="close-button" onclick="document.getElementById('storyModal').style.display='none'">X</button>
    <button class="prev-button">‹</button>
    <button class="next-button">›</button>

    {% if request.user == user %}
        <div class="story-actions">
            <a href="{% url 'post:create_story' %}"><i class="fa fa-plus-circle add-story"></i></a>
            <a href="{% url 'post:delete_story' story_id=0 %}" id="delete-story-link"><i
                    class="fa fa-trash delete-story"></i> </a>
            <i class="fa fa-eye view-count-icon" aria-hidden="true"></i>
            <span id="view-count" class="view-count-text">{{ stories.visits.count|default:0 }} </span>

        </div>

        <div class="viewer-list-container">

        </div>

    {% endif %}

</div>


