{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="user-page">
        <div class="profile-header">
            <div class="avatar">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="User Avatar">
                {% else %}
                    <img src="{% static 'images/default-profile.jpg' %}" alt="User Avatar">
                {% endif %}
            </div>
            <div class="user-info">
                <h2>{{ user.username }}</h2>
                <div class="stats">
                    <span><strong>{{ user.posts.count }}</strong> posts</span>
                    <span><strong id="followers-count">{{ user.followers.count }}</strong> <a
                            href="{% url 'account:user_contact' username=user.username relation='followers' %}">followers</a></span>
                    <span><strong id="following-count">{{ user.following.count }}</strong> 
                        <a href="{% url 'account:user_contact' username=user.username relation='following' %}">following</a>
                    </span>
                </div>
                <div class="user-actions">


                    <button class="btn-setting"><a href="{% url 'account:setting' %}">Setting</a></button>
                    <button class="btn-change-profile"><a href="{% url 'account:edit_profile' %}">Change Profile</a>
                    </button>

                </div>
            </div>
        </div>
    <div>
        <pre>{{ user.job }}</pre>
        <p>{{ user.bio }}</p>

    </div>
    
        <div class="user-posts">
            {% for post in user.posts.all %}
                <div class="user-post">
                    <img src="{{ post.images.first.file.url }}" alt="" onclick="showPostDetail('{{ post.id }}')">
                </div>
                
            {% endfor %}
        </div>
    </div>
    <div id="postModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <span class="trash">
                <p style="display: none" id="delete-post-url">{% url 'account:delete_post' post_id=0 %}</p>
                <a href="#" id="delete-post-link">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
            
            <div id="modal-body">
                <!-- Post details will be loaded here -->
            </div>
        </div>
    </div>
    
{% endblock %}